/* *{
    border: 1px solid red;
} */

:root{
    --blue:#80a2ab;
    --orange:#cf8659;
    --textColor:#3b3b3b;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: var(--orange);
    text-align: center;
}

.splash{
    background-image: linear-gradient(var(--blue),var(--orange));
    height: 100vh;
    display: grid;
    text-align: center;
    align-items: center;
    color: var(--textColor);
    grid-template-rows: 1fr 10vh;
    border-bottom: 1px solid black;
}

.splash a{
    text-decoration: none;
    color: var(--textColor);
    font-size: 1.5rem;
}

.splash h1{
    font-size: 3rem;
    margin: 0;
}

h2{
    color: var(--textColor);
    font-size: 2rem;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.threeCol i{
    font-size: 100px;
    margin-bottom: 5px;
}

hr{
    width: 15%;
    background-color: var(--textColor);
    height: 1px;
    border: none;
}

.threeCol{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-auto-rows: 35%;
    text-align: center;
    grid-gap: 20px;
    justify-content: space-around;
    grid-auto-columns: 10px;
    height: 100%;
}

.card{
    border-radius: 5%;
    box-shadow:0 0 10px black ;
    padding: 5px;
}

.threeCol a{
    color: black;
}

.card img{
    width: 80%;
    height: auto;
}

main, footer{
    margin: 0 10px;
}

section{
    height: 100vh;
    padding-top: 10px;
}